.mypic{
  border-radius: 50%;
  width: 180px;
  height:  180px;
  border-width: : 5px;
  border-color: #5c5c5c;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 120px;
  margin-left: 540px;

}
#particles-js {
  background-color: #b61924;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#overlay {
  position: relative;
  padding: 50px;
}

.details{
  margin-left: 480px;


}
.details2{
  margin-left: 430px;


}

.links{
  margin-left: 420px;
  padding-top: 20px;
      margin-right: 12px;
    padding-left: 0;
    display: inline;
}

@font-face {
    font-family: 'Source Code Pro';
}
p.customfont {
    font-family: 'Source Code Pro';
    font-size: 40px
}

p.small{
  font-family: 'monospace';
    font-size: 14px;
    color: #1b1313;
    padding-left: 28%;

}
p.desc{
  font-family: 'Source Code Pro';
    font-size: 20px;
    padding-top: 15px;



}
p
{
margin: 0;
padding: 0;
}






.home-social {
    font-family: "montserrat-regular", sans-serif;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 5.4rem;
    -webkit-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.home-social a {
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home-social li {
    position: relative;
    padding: .9rem 0;
}

.home-social li a {
    display: block;
    width: 66px;
    height: 66px;
}

.home-social i, .home-social span {
    position: absolute;
    top: 0;
    line-height: 33px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home-social i {
    font-size: 33px;
    right: 0;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: calc(33px - 4px);
    border-radius: 50%;
}

.home-social span {
    color: #39b54a;
    right: 4.5rem;
    font-size: 1.3rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.home-social li:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
